* {
  font-family: sans-serif;
  font-weight: 500;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.custom-layout {
  padding: 0;
  width: 100%;
  display: flex;
  position: relative;
}
.nav-wrapper {
  width: 100%;
  background-color: rgba(214, 236, 240, 0.349);
}

.section {
  flex: 0.3cap;
  margin-left: 190px;
  min-width: calc(100vw - 18%);
  max-width: 100%;

  overflow: auto;
  /* flex-grow: 1; */
  height: calc(100vh - 100px);
  max-height: 100vh !important;
  padding-top: 5px;
  padding-right: 15px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 80px;
  float: left;
  max-height: 100vh;
}

.main-wrapper {
  min-height: 100%;
  position: relative;
}

.wl,
.wn,
.wq,
.wp,
.wo {
  position: fixed;
  width: 100%;
  height: 100%;
}
.wl {
  background-color: rgba(214, 236, 240, 0.349);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .custom-layout {
    width: 1024px;
  }

  .section {
    width: 800px !important;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1f0808;
  border-radius: 50px;
}
